.posts-series {
  position: fixed;
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  font-size: .9rem;

  [theme=dark] & {
    background-color: $global-background-color-dark;
  }

  @media screen and (max-width: 1220px) {
    display: none;
  }
}